<template>
    <div class="calculator-wrapper">
        <screen />
        <history />
        <buttons />
    </div>
</template>

<script>
    import Screen from "./screen/Screen"
    import Buttons from "./buttons/Buttons"
    import History from "./history/History"

    export default {
        components: {
            Screen,
            Buttons,
            History,
        },

        created () {
            this.$store.dispatch('saveStateAsHistory');
        }
    }
</script>

<style>
    .calculator-wrapper {
        display: block;
        margin: 0 auto;

        width: 320px;
        height: 500px;
        padding: 20px;
        
        border: 1px solid steelblue;
        border-radius: 5%;

        background-color: lightsteelblue;
        box-shadow: 2px 2px 10px steelblue;
    }
</style>
