<% content_for :js do %>
    <%= javascript_pack_tag "calculator" %>
<% end %>

<div class="container my-3">
    <h1>Calculator</h1> 

    <div id="root">
        <simple-calculator/>    
    </div>
</div>