<div id="root">
    <div class="container">
    <h1>Main Page</h1>
    
    <div class="row">
        <div class="col-12">
            <a href="<%= todos_path %>">View Todo Lists</a>
        </div>
    </div>
    </div>


</div>