<template>
  <div class="row">
        <div class="col-12">
            <ul>
                <li :id="'item-'+key" class="mb-4" v-for="(item, key) in todoList">
                    <span class="todo-text">{{item}}</span>

                    <button type="button" @click="remove(key)" class="mx-1 float-right btn btn-small btn-danger">
                    X
                    </button> 

                    <button type="button" @click="edit($event, key)" class=" mx-1 float-right btn btn-small btn-warning">
                    Edit
                    </button> 
                </li> 
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        todoList: Array,
    },

    methods: {
        remove (key) {
            this.$emit('remove', key)
        },

        edit (e, key) {
            this.$emit('edit', e, key)
        }
    },
}
</script>
