<template>
    <form @submit.prevent action="" method="post" class="row form-group">
        <div class="col-sm-6">
            <input type="text" name="todo" id="todo" value="" class="form-control" v-model.trim="newTodo">
        </div>

        <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" @click="add" value="Add">
        </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            newTodo: "",
        }
    },

    methods: {
        add () {
            if (this.newTodo) {
                this.$emit('add', this.newTodo)
                this.newTodo = '';
            }
        }
    },
}
</script>