<template>
    <div>
        <div class="row mb-3">
            <medium-button>&lt;</medium-button>
            <medium-button class="text-right">C</medium-button>
        </div>

        <div class="row mb-3">
            <medium-button>*</medium-button>
            <medium-button class="text-right">/</medium-button>
        </div>

        <div class="row mb-3">
            <medium-button>-</medium-button>
            <medium-button class="text-right">+</medium-button>
        </div>

        <div class="row mb-3">
           
        </div>
    </div>
</template>

<script>
    import MediumButton from "./components/MediumButton"

    export default {
        components: {
            MediumButton,
        }
    }
</script>

<style>

</style>