<template>
    <div @click="handleButtonClick" class="button-wrapper">
        <div class="row">
            <div class="col-7 numeric-buttons-wrapper">
                <numeric-buttons/>
            </div>

            <div class="col-5 action-buttons-wrapper">
                <action-buttons/>
            </div>
        </div>
    </div>
</template>

<script>
   import ActionButtons from "./ActionButtons"
   import NumericButtons from "./NumericButtons"
   import {mapState, mapMutations} from 'vuex'

    export default {
        components: {
            ActionButtons,
            NumericButtons
        },
        
        methods: {
            handleButtonClick (e) {
                if (e.target.tagName === "BUTTON") {
                    if (!this.$store.getters.isLatestHistory) {
                        this.removeOldFuture()
                    }
                    
                    this.applyButtonClick(e.target.textContent)
                    this.$store.dispatch('saveStateAsHistory');
                }
            },

            applyButtonClick (val) {
                if (!isNaN(val)) { // 0 through 9
                    this.numberClick(val)
                } else if (val == '<') {
                    this.deleteLast()
                } else if (val == '=') {
                    this.showFinalCalculation()
                } else if (val in this.operators()) {
                    this.operatorClick(val)
                } else if (val == 'C') {
                    this.resetApplication()
                }
            },
            
            numberClick (val) {
                // reset screen and start fresh
                if (this.finalValueShowing) {
                    this.setScreen(val)
                    this.setFinalFlag(false);
                // append to current screen
                } else {
                    this.setScreen(this.screenValue + val)
                }
            },
            
            operatorClick (val) {
                // just starting out or after computing
                if (!this.computedValue || this.finalValueShowing) {
                    this.setComputed(this.screenValue)
                    
                // operator set and value to apply it to
                } else if (this.screenValue && this.currentOperator) {
                    this.applyOperator()
                }
            
                // reset params
                this.setFinalFlag(false)
                this.setScreen("");
            
                // set operator
                this.setOperator(val)
            },
            
            deleteLast () {
                if (this.screenValue) {
                    this.setScreen(this.screenValue.substring(-1, this.screenValue.length - 1))
                }
            },
            
            showFinalCalculation () {
                if (this.currentOperator && this.screenValue && this.computedValue !== '') {
                    this.applyOperator()
                    this.setScreen(this.computedValue) 
                    this.setFinalFlag(true)
                    this.setOperator('');
                }
            
                // todo other use cases
            },
            
            applyOperator () {
                this.setComputed(this.operators()[this.currentOperator].toString())
            },
            
            resetApplication () {
                this.setComputed('')
                this.setScreen('')
                this.setOperator('')
                this.setFinalFlag(false)
            },
            
            // todo is there a better way to do this while still being able to reference them?
            operators () {
                return {
                    '*': (this.computedValue * this.screenValue),
                    '/': (this.computedValue / this.screenValue),
                    '+': (parseFloat(this.computedValue) + parseFloat(this.screenValue)),
                    '-': (this.computedValue - this.screenValue),
                }
            },

            ...mapMutations([
                'setScreen',
                'setOperator',
                'setComputed',
                'setFinalFlag',
                'removeOldFuture',
            ])
        },

        computed: {
            ...mapState({
                screenValue: state => state.screenValue,
                currentOperator: state => state.currentOperator,
                computedValue: state => state.computedValue,
                finalValueShowing: state => state.finalValueShowing,
            })
        }
    }
</script>

<style>
    .button-wrapper {
        margin: 60px 20px;
    }

    .numeric-buttons-wrapper .button,
    .action-buttons-wrapper .button {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>