<template>
    <div>
        <div class="row mb-3">
            <small-button>7</small-button>
            <small-button class="text-center">8</small-button>
            <small-button class="text-right">9</small-button>
        </div>

        <div class="row mb-3">
            <small-button>4</small-button>
            <small-button class="text-center">5</small-button>
            <small-button class="text-right">6</small-button>
        </div>

        <div class="row mb-3">
            <small-button>1</small-button>
            <small-button class="text-center">2</small-button>
            <small-button class="text-right">3</small-button>
        </div>   

        <div class="row">
           <small-button>0</small-button>
           <large-button>=</large-button>
        </div>     
    </div>

</template>

<script>
    import SmallButton from "./components/SmallButton"
    import LargeButton from "./components/LargeButton"

    export default {
        components: {
            SmallButton,
            LargeButton
        },
    }
</script>

<style>

</style>