<template>
    <div class="screen">
        {{$store.state.screenValue}}
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style>
    .screen {
        height: 50px;
        padding: 10px;
        margin: 20px;
        background-color: lightgray;
        text-align: right;
        border: 1px solid gray;
        box-shadow: 0 -1px 2px black;
    }
</style>