<template>
    <div class="col-8 button">
        <button class="btn btn-secondary large-button">
            <slot/>
        </button>   
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .large-button {
        width: 100%;
    }
</style>