<template>
    <div class="col-4 button">
        <button class="btn btn-secondary">
            <slot/>
        </button>   
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>