<template>
    <div id="history" @click="handleHistoryClick">
        <div class="row">
            <div class="col-6">
                <button id="history-back" :disabled="isFirstHistory" class='btn btn-primary' type="button">&lt; Back</button>
            </div>

            <div class="col-6 text-right">
                <button id="history-forward" :disabled="isLatestHistory" class='btn btn-primary' type="button">Forward &gt;</button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';

export default {
    methods: {
        handleHistoryClick (e) {
            const clickedItem = e.target;

            if (clickedItem.id == 'history-back') {
                this.handleHistoryTraversal(-1)
            } else if (clickedItem.id == 'history-forward') {
                this.handleHistoryTraversal(1)
            }
        },

        handleHistoryTraversal (direction) {
            if (direction == 1 && this.isLatestHistory || direction == -1 && this.isFirstHistory) {
                return
            }

            this.setHistoryActive(this.currentHistoryActive + parseInt(direction))
            this.applyHistoryState()
        },

        applyHistoryState () {
            const state = this.history[this.currentHistoryActive]

            this.setScreen(state.screenValue)
            this.setOperator(state.currentOperator)
            this.setComputed(state.computedValue)
            this.setFinalFlag(state.finalValueShowing)
        },

        ...mapMutations([
                'setScreen',
                'setOperator',
                'setComputed',
                'setFinalFlag',
                'setHistoryActive',
            ])
    },

    computed: {
        ...mapGetters([
            'isLatestHistory',
            'isFirstHistory'
        ]),

        ...mapState({
            currentHistoryActive: state => state.currentHistoryActive,
            history: state => state.history,
        })
    },
}
</script>

<style>
    #history {
        /* todo deal with collapsing margins later. */
        margin: 0 20px;
        padding-top: 40px;
    }

    #history button:disabled {
        cursor: not-allowed;
    }
</style>