<template>
    <div>
        <slot :count="count" name="header">Well... testing default</slot>

        <todo-list :todoList="todoList" @remove="removeTodoItem" @edit="toggleEdit"/>

        <add-new @add="addTodoItem"/>
    </div>
 
</template>

<script>
    import axios from 'axios';
    import list from './components/List'
    import newItem from './components/New'

    // todo extract this out as a wrapper or similar.
    // todo see if a better way to get the current token
    const csrfToken = document.querySelector("meta[name=csrf-token]").content;
    axios.defaults.headers.common['X-CSRF-Token'] = csrfToken;

    export default {
        data () {
            return {
                todoList: [],
            }
        },

        components: {
            'todo-list': list,
            'add-new': newItem,
        },

        methods: {
            addTodoItem (newTodo) {
                this.todoList.push(newTodo);
                this.updateTodoItems();
            },

            removeTodoItem (key) {
                this.todoList.splice(key, 1);
                this.updateTodoItems();
            },

            toggleEdit (e, key) {
                // todo maybe change the submit to a conditional (vif) with a submit or click handler.
                // goal to enable enter to let the editing of items.
                const textContainer = document.querySelector("#item-" + key + " .todo-text");
                const button = e.target;

                if (button.textContent.trim() == "Edit") {
                    button.textContent = "Save";
                    textContainer.innerHTML = "<input id='save-" + key + "' value=''>"; 
                } else {
                    const newItem = document.getElementById("save-" + key);
                    
                    if (newItem) {
                        textContainer.innerHTML = newItem.value;
                        this.todoList[key] = newItem.value;

                        this.updateTodoItems();
                    } else {
                        textContainer.innerHTML = '';
                    }
                    
                    button.textContent = "Edit";
                }
            },

            updateTodoItems () {
                // todo change the then() behavior
                axios.patch(window.location.href.replace(/edit$/, ''), {data: JSON.stringify(this.todoList)})
                    .then(res => console.log(res.data));
            }
        },

        computed: {
            count () {
                return this.todoList.length
            },
        },

        created () {
            var jsonTodoTag = document.querySelector('[data-todo-list]');
            this.todoList = JSON.parse(jsonTodoTag.dataset.todoList);
        }
    }
</script>
