<% content_for :js do %>
    <%= javascript_pack_tag "todo" %>
<% end %>

<span data-todo-list="<%= @todo.todo_items %>"></span>

<div class="container my-3">
    <div class="row">
        <a class="col-6" href="<%= todos_path %>">Go Back</a>
        <%= form_tag( todo_path(id: @todo.id) , method: "DELETE", class: 'col-6 float-right text-right') do |f| %>
            <%= submit_tag('Delete This Item', class: 'btn btn-danger') %>
        <% end %>
    </div>

    <div id="root">
        <todo-items>
            <div slot="header" slot-scope="{count}" class="row">
                <div class="col-12">
                    <h1>Todo List #<%= @todo.id %></h1>
                    <h5 class="mb-5"><%= @todo.name %> ({{count}} items)</h5>
                </div>
            </div>
        </todo-items>
    </div>
</div>