<div class="container">
    <div class="float-right mt-2">
        <%= link_to  "Add New List", new_todo_path %>
    </div> 

    <h1>Todo Lists</h1>

    <div class="row">
        <% @todos.each do |item| %>
            <div class="col-sm-6">
                <a href="<%= edit_todo_path(id: item.id) %>">
                    Todo List #<%= item.id %>: <%= item.name %>
                </a>
            </div>
        <% end %>
    </div>
</div>