<div class="container">
    <div class="float-right mt-2">
        <%= link_to  "Go Back", todos_path %>
    </div> 

    <h1 class="mb-5">Create New List</h1>

    <%# add class for the form from BS4 %>
    <%= form_for(@todo) do |f| %>
        <div class="row form-group mb-5">
            <div class="col-sm-4">
                <%# todo check label class %>
                <%= f.label (:name) %>
            </div>

            <div class="col-sm-8">
                <%= f.text_field :name, class: 'form-control' %>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-12 text-right">
                <%= f.submit("Create New List", class:"btn btn-primary") %>
            </div>
        </div>
    <% end %>
</div>