<!DOCTYPE html>
<html>
  <head>
    <title>VueScribbles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# 
      Turbolinks causing problems, just disabling for now, 
      Due to inlining JS, todo: figure this out later. Might need to change how the JS is included.
      Either a separate layout, or a conditional that includes it here maybe...?
    %>
    <meta name="turbolinks-visit-control" content="reload">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :js %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
